.gif-container {
    display: flex;
    gap: 50px;
    white-space: nowrap;

    width: 200vw;
    height: 30vh;
    align-items: center;

    .moving-gif {
        height: 200px; // Adjust as needed
        animation: moveRight 20s linear infinite;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}